
bin/
obj/
[Bb]uild/
[Ll]og/


.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


.idea/
.vscode/
*.code-workspace

Appointment.Backend.csproj
Appointment.Backend.http
appsettings.Development.json


*.nupkg
packages/
project.lock.json
project.fragment.lock.json


*.log


publish/
wwwroot/dist/
wwwroot/build/


TestResults/
*.coverage
*.coveragexml
*.vspx
*.vspscc
*.vsmdi

*.dbmdl
*.bak
*.mdf
*.ldf


.DS_Store
Thumbs.db


.env
.env.*
secrets.json
appsettings.json

docker-compose.override.yml
